Repository itrpp/portalrpp: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run lint:fix, cd frontend && npm run format, prettier --write, eslint --fix

Update Providers to set locale for HeroUIProvider and enhance PorterRequestPage with DatePicker integration. Add helper functions for date conversion and improve date handling in the request form.
  frontend/app/(app)/porter/request/page.tsx
  frontend/app/providers.tsx
Due: none

Update DATABASE_URL in .env file to reflect new database server address, ensuring proper connectivity for the frontend application.
  frontend/.env
Due: none

Update script paths in run.sh files for api-gateway, backend porter, and frontend to use start_server.sh instead of start.sh, ensuring consistent server startup across applications.
  api-gateway/run.sh
  backend/porter/run.sh
  frontend/run.sh
Due: none

Update database connection configuration in schema.prisma to use environment variable for DATABASE_URL, enhancing flexibility for different deployment environments.
  backend/porter/prisma/schema.prisma
Due: none

feat: add user LINE account disconnection and Porter service request APIs.
  frontend/.env
  frontend/app/(app)/profile/ProfileClient.tsx
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/porter/patient/route.ts
  frontend/app/api/porter/requests/route.ts
  frontend/app/api/profile/line/route.ts
  frontend/lib/ldap.ts
  frontend/lib/profile.ts
  frontend/package.json
  frontend/prisma/schema.prisma
  frontend/types/ldap.ts
Due: prettier --write

Refactor user session data structure by replacing 'title' and 'groups' with 'position' and 'memberOf' across multiple API routes, ensuring consistency in user profile information handling.
  frontend/app/api/porter/requests/token/route.ts
  frontend/app/api/revenue/batches/[id]/export/route.ts
  frontend/app/api/revenue/batches/[id]/files/route.ts
  frontend/app/api/revenue/batches/[id]/process-ipd/route.ts
  frontend/app/api/revenue/batches/[id]/process-opd/route.ts
  frontend/app/api/revenue/batches/[id]/route.ts
  frontend/app/api/revenue/batches/[id]/validate/route.ts
  frontend/app/api/revenue/batches/route.ts
  frontend/app/api/revenue/upload/route.ts
Due: none

Update convertToProtoResponse to handle optional requesterDepartment, ensuring undefined is set when not provided, improving data consistency in PorterRequest responses.
  backend/porter/src/services/porter.service.ts
Due: prettier --write, eslint --fix

feat: Implement HRD settings management and Porter statistics dashboard with new API endpoints and UI components
  frontend/app/(app)/layout.tsx
  frontend/app/(app)/porter/stat/components/LocationStats.tsx
  frontend/app/(app)/porter/stat/components/ReasonStats.tsx
  frontend/app/(app)/porter/stat/components/StaffStats.tsx
  frontend/app/(app)/porter/stat/components/UrgencyStats.tsx
  frontend/app/(app)/porter/stat/components/VolumeStats.tsx
  frontend/app/(app)/porter/stat/page.tsx
  frontend/app/(app)/porter/stat/utils.ts
  frontend/app/(app)/setting/department-sub-subs/components/DepartmentSubSubModal.tsx
  frontend/app/(app)/setting/department-sub-subs/page.tsx
  frontend/app/(app)/setting/department-subs/components/DepartmentSubModal.tsx
  frontend/app/(app)/setting/department-subs/page.tsx
  frontend/app/(app)/setting/departments/components/DepartmentModal.tsx
  frontend/app/(app)/setting/departments/page.tsx
  frontend/app/(app)/setting/person-types/components/PersonTypeModal.tsx
  frontend/app/(app)/setting/person-types/page.tsx
  frontend/app/(app)/setting/positions/components/PositionModal.tsx
  frontend/app/(app)/setting/positions/page.tsx
  frontend/app/api/auth/login/route.ts
  frontend/app/api/hrd/department-sub-subs/route.ts
  frontend/app/api/hrd/department-subs/[id]/route.ts
  frontend/app/api/hrd/department-subs/route.ts
  frontend/app/api/hrd/departments/[id]/route.ts
  frontend/app/api/hrd/departments/route.ts
  frontend/app/api/hrd/person-types/[id]/route.ts
  frontend/app/api/hrd/person-types/route.ts
  frontend/app/api/hrd/positions/[id]/route.ts
  frontend/app/api/hrd/positions/route.ts
  frontend/components/layout/Sidebar.tsx
  frontend/package.json
  frontend/types/hrd.ts
Due: prettier --write

Update ProfileOrgModal to hide the close button for improved user experience in modal interactions.
  frontend/components/layout/ProfileOrgModal.tsx
Due: none

Rename TopBar.tsx to Topbar.tsx
  frontend/components/layout/Topbar.tsx
Due: none

Add basePath configuration to Next.js setup for portal development
  frontend/next.config.js
Due: none

Implement basePath adjustments for NEXTAUTH_URL and enhance redirect callback in authOptions for consistent URL handling in portal development.
  frontend/app/api/auth/authOptions.ts
Due: none

Remove basePath configuration from Next.js setup and clean up related logic in authOptions for improved URL handling in portal development.
  frontend/app/api/auth/authOptions.ts
  frontend/next.config.js
Due: none

Remove .env file from frontend directory to streamline environment configuration and enhance security by eliminating sensitive information exposure.
  frontend/.env.example
Due: none

Update package.json to add nodemailer dependency and upgrade prisma version for improved compatibility and functionality.
  frontend/package.json
Due: prettier --write

Update start_server.sh to use PORT from .env/.env.local instead of hardcoding, improving configuration flexibility.
  backend/porter/start_server.sh
Due: none

Refactor gRPC client configuration to use dynamic environment variable for gRPC URL, enhancing runtime flexibility and maintainability.
  frontend/lib/grpcClient.ts
Due: none

Add assigned_at field to PorterRequest message for tracking task assignment time
  shared/proto/porter.proto
Due: none

Remove unused PORTER_TABLE_STYLES from design tokens in index.ts to streamline component styling and improve code maintainability.
  frontend/app/(app)/porter/components/index.ts
Due: none

Update default returnTrip value in request constants and form hook to 'ไปส่งอย่างเดียว' for improved clarity in user interface.
  frontend/app/(app)/porter/request/constants.ts
  frontend/app/(app)/porter/request/hooks/usePorterRequestForm.ts
Due: none

Disable file watching in ecosystem.config.js and simplify the start command in package.json by removing dotenv usage for environment variable management.
  backend/porter/ecosystem.config.js
  backend/porter/package.json
Due: prettier --write

feat: enhance Porter request handling with vehicle type golf support
  backend/porter/src/services/porter.service.ts
  backend/porter/src/types/porter.ts
  backend/porter/src/utils/enumMapper.ts
  backend/porter/src/utils/grpcPlainRequest.ts
  frontend/app/(app)/porter/components/JobDetailDrawer.tsx
  frontend/app/(app)/porter/components/helpers/jobPresentation.tsx
  frontend/app/(app)/porter/joblist/hooks/useJobListCounts.ts
  frontend/app/(app)/porter/joblist/hooks/useJobListData.ts
  frontend/app/(app)/porter/request/components/PorterRequestForm/TransportInfoCard.tsx
  frontend/app/(app)/porter/request/components/RequestHistoryTable.tsx
  frontend/app/(app)/porter/request/constants.ts
  frontend/app/(app)/porter/request/hooks/usePorterRequestForm.ts
  frontend/app/api/porter/requests/[id]/route.ts
  frontend/app/api/porter/requests/route.ts
  frontend/lib/porter.ts
  frontend/lib/schemas/porterRequest.ts
  frontend/types/porter.ts
  shared/generated/prisma/internal/class.ts
  shared/generated/prisma/internal/prismaNamespace.ts
  shared/generated/prisma/internal/prismaNamespaceBrowser.ts
  shared/generated/prisma/models/PorterRequest.ts
  shared/prisma/schema.prisma
  shared/proto/porter.proto
Due: prettier --write, eslint --fix

Update package dependencies and remove peer flags from package-lock.json
  api-gateway/package-lock.json
  backend/porter/package.json
  frontend/package.json
Due: prettier --write

feat: enhance user activity tracking and online users polling
  frontend/app/(app)/home/HomeClient.tsx
  frontend/app/(app)/layout.tsx
Due: none

Enhance Next.js configuration and build process
  frontend/next.config.js
  frontend/package.json
Due: prettier --write

Update Next.js version and refactor Tailwind configuration
  frontend/package.json
  frontend/tailwind.config.js
Due: prettier --write

Enhance authentication and user activity tracking
  frontend/app/(app)/layout.tsx
  frontend/app/api/auth/authOptions.ts
  frontend/app/api/auth/update-activity/route.ts
  frontend/lib/nextAuthJwt.ts
  frontend/middleware.ts
Due: none

Refactor SSE connection handling and improve online user polling
  frontend/app/(app)/home/HomeClient.tsx
  frontend/app/(app)/porter/joblist/hooks/useJobList.ts
  frontend/app/(app)/porter/joblist/hooks/useJobListStream.ts
Due: none

Sync missed job list data during SSE reconnection to improve data consistency
  frontend/app/(app)/porter/joblist/hooks/useJobListStream.ts
Due: none

feat(porter): add statistics retrieval and date filtering for requests
  backend/porter/src/handlers/porter.handler.ts
  backend/porter/src/server.ts
  backend/porter/src/services/porter.service.ts
  backend/porter/src/services/porterStats.service.ts
  backend/porter/src/types/porter.ts
  frontend/app/(app)/porter/joblist/components/JobListFilters.tsx
  frontend/app/(app)/porter/joblist/components/PorterJobListTable.tsx
  frontend/app/(app)/porter/joblist/dateRange.ts
  frontend/app/(app)/porter/joblist/hooks/useCenterPorterRequests.ts
  frontend/app/(app)/porter/joblist/hooks/useJobListCounts.ts
  frontend/app/(app)/porter/joblist/hooks/useJobListData.ts
  frontend/app/(app)/porter/joblist/hooks/useJobListStream.ts
  frontend/app/(app)/porter/joblist/page.tsx
  frontend/app/(app)/porter/stat/components/EmployeePerformanceChart.tsx
  frontend/app/(app)/porter/stat/components/PopularLocationChart.tsx
  frontend/app/(app)/porter/stat/components/StatFilter.tsx
  frontend/app/(app)/porter/stat/components/TimeHeatmap.tsx
  frontend/app/(app)/porter/stat/dateBounds.ts
  frontend/app/(app)/porter/stat/hooks/useFilteredJobs.ts
  frontend/app/(app)/porter/stat/hooks/usePorterStats.ts
  frontend/app/(app)/porter/stat/page.tsx
  frontend/app/api/porter/stats/route.ts
  frontend/features/porter/lib/queryKeys.ts
  frontend/lib/porterRequests.ts
  frontend/lib/schemas/porterRequest.ts
  frontend/types/porter.ts
  shared/proto/porter.proto
Due: prettier --write, eslint --fix

feat(porter): improve proto path resolution and enhance gRPC service registration
  backend/porter/src/server.ts
  backend/porter/src/services/porterStats.service.ts
  frontend/app/(app)/porter/stat/components/EmployeePerformanceChart.tsx
  frontend/app/(app)/porter/stat/page.tsx
  frontend/next.config.js
  frontend/package.json
  frontend/scripts/build-lowmem.js
Due: prettier --write, eslint --fix

Path conditions:
  cd frontend && npm run lint:fix: any of: frontend/src/**/*.{js,jsx,ts,tsx}
  cd frontend && npm run format: any of: frontend/src/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: backend/**/*.ts) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: backend/**/*.ts
