Repository itrpp/portalrpp: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run lint:fix, cd frontend && npm run format, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "frontend/src/**/*.{js,jsx,ts,tsx}": [
    "cd frontend && npm run lint:fix",
    "cd frontend && npm run format"
  ],
  "backend/**/*.ts": ["prettier --write", "eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

ปรับปรุง pre-commit hook เพื่อลดขั้นตอนการ linting โดยใช้คำสั่ง lint:fix แทนการเรียก linting แยกสำหรับ frontend และ backend
  .husky/pre-commit
Due: none

ปรับปรุงการตั้งค่า Prettier และ ESLint ในโปรเจค รวมถึงการแก้ไขโค้ดให้เป็นไปตามมาตรฐานการจัดรูปแบบใหม่ และปรับปรุงคู่มือการใช้งาน linting system
  .prettierrc.js
  LINTING_GUIDE.md
  backend/api-gateway/.eslintrc.js
  backend/api-gateway/src/index.ts
  backend/auth-service/.eslintrc.js
  backend/auth-service/src/index.ts
  backend/user-service/.eslintrc.js
  backend/user-service/src/index.ts
  frontend/next.config.js
  frontend/next.config.ts
  frontend/src/app/admin/page.tsx
  frontend/src/app/api/health/route.ts
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/unauthorized/page.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.tsx
Due: cd frontend && npm run lint:fix, cd frontend && npm run format, prettier --write, eslint --fix

ปรับปรุงระบบ Authentication และเพิ่มการสนับสนุน NextAuth ในบริการต่างๆ รวมถึงการปรับปรุงการจัดการ CORS และการจัดการเซสชันของผู้ใช้ใน API Gateway, Auth Service และ User Service
  backend/api-gateway/src/index.ts
  backend/auth-service/package-lock.json
  backend/auth-service/package.json
  backend/auth-service/src/index.ts
  backend/user-service/src/index.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/admin/page.tsx
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/auth/error/page.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/ClientLayout.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/NextAuthContext.tsx
  frontend/src/middleware.ts
  frontend/src/types/next-auth.d.ts
Due: cd frontend && npm run lint:fix, cd frontend && npm run format, prettier --write, eslint --fix

docs: fix formatting for LDAP documentation files
  LDAP_DEV_README.md
  LDAP_SETUP_README.md
Due: prettier --write

เพิ่มฟีเจอร์ตรวจสอบสถานะบริการในหน้า Home โดยใช้ useEffect และ useState เพื่อดึงข้อมูลสถานะจาก API และแสดงผลในรูปแบบที่เข้าใจง่าย รวมถึงปุ่มสำหรับตรวจสอบสถานะทันที
  frontend/src/app/page.tsx
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

Update Frontend Check Service
  frontend/src/app/page.tsx
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

ปรับปรุงการตั้งค่าและเพิ่มฟีเจอร์ใหม่ใน Frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/src/app/admin/page.tsx
  frontend/src/app/auth/error/page.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/ClientLayout.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/config/fonts.ts
  frontend/src/config/site.ts
  frontend/tailwind.config.js
Due: cd frontend && npm run lint:fix, cd frontend && npm run format, prettier --write

ปรับปรุงการจัดการ Authentication และการนำทางใน Frontend
  .gitignore
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/middleware.ts
  frontend/tailwind.config.js
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

ปรับปรุงฟังก์ชันตรวจสอบสถานะบริการในหน้า Home โดยใช้รายการบริการที่กำหนดไว้ล่วงหน้าและปรับปรุงการจัดการสถานะของบริการ รวมถึงการตั้งค่า dependency array ให้ว่างเปล่าใน useEffect
  frontend/src/app/page.tsx
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

ปรับปรุงการใช้งาน useEffect ในหน้า Home โดยลบ dependencies ที่ไม่จำเป็นออก และปรับปรุงการจัดรูปแบบของ HeroLink เพื่อให้มีความสอดคล้องมากขึ้น
  frontend/src/app/page.tsx
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

ปรับปรุงการจัดรูปแบบของ HeroLink ในหน้า Home เพื่อให้มีความสอดคล้องมากขึ้น
  frontend/src/app/page.tsx
Due: cd frontend && npm run lint:fix, cd frontend && npm run format

ปรับปรุง dependencies ใน api-gateway และ frontend โดยเพิ่มและลบแพ็กเกจที่ไม่จำเป็น รวมถึงการลบ express-status-monitor เนื่องจากปัญหาด้านความปลอดภัย
  backend/api-gateway/package.json
  backend/api-gateway/src/config/index.ts
  backend/api-gateway/src/index.ts
  backend/api-gateway/src/types/index.ts
  frontend/package.json
Due: prettier --write, eslint --fix

ลบไฟล์ .nvmrc และเพิ่ม package-lock.json สำหรับ frontend, api-gateway และ auth-service เพื่อจัดการ dependencies และเวอร์ชันของแพ็กเกจให้ถูกต้อง
  .nvmrc
  README.md
  backend/api-gateway/package-lock.json
  backend/auth-service/package-lock.json
  frontend/package-lock.json
  package-lock.json
  package.json
Due: prettier --write

ปรับปรุง package.json โดยลบคำสั่งที่ไม่จำเป็นสำหรับการเริ่มต้นบริการและอัปเดต README.md เพื่อลบข้อมูลที่ไม่เกี่ยวข้อง รวมถึงการปรับปรุงคำสั่งที่เกี่ยวกับฐานข้อมูลและการติดตั้งใหม่
  .nvmrc
  README.md
  package.json
Due: prettier --write

ปรับปรุงการจัดการข้อมูลผู้ใช้ใน auth-service โดยสร้าง user object ใหม่ในรูปแบบที่เหมาะสมสำหรับการตอบกลับ รวมถึงการปรับปรุงการจัดการข้อมูลผู้ใช้ใน frontend เพื่อให้แสดงข้อมูลที่ถูกต้องและครบถ้วนมากขึ้น
  backend/auth-service/src/routes/authRoutes.ts
  backend/auth-service/src/services/authService.ts
  frontend/app/dashboard/layout.tsx
  frontend/app/login/layout.tsx
  frontend/components/navigation/NavigationBar.tsx
  frontend/contexts/AuthContext.tsx
  frontend/types/index.ts
Due: prettier --write, eslint --fix

เพิ่มไอคอนใหม่สำหรับการนำเข้าและส่งออกไฟล์ใน Sidebar รวมถึงการปรับปรุงการจัดการ sub-items เพื่อให้สามารถขยายและยุบรายการได้อย่างมีประสิทธิภาพ
  frontend/components/icons.tsx
  frontend/components/navigation/Sidebar.tsx
Due: none

เพิ่ม Revenue Service proxy ใน API Gateway พร้อมการจัดการ error และ logging รวมถึงการเพิ่มไอคอนใหม่ใน frontend สำหรับ date picker, filter, trending up และ currency dollar
  backend/api-gateway/src/config/index.ts
  backend/api-gateway/src/index.ts
  backend/revenue-service/.prettierrc
  backend/revenue-service/README.md
  backend/revenue-service/env.example
  backend/revenue-service/eslint.config.js
  backend/revenue-service/package.json
  backend/revenue-service/src/config/index.ts
  backend/revenue-service/src/index.ts
  backend/revenue-service/src/middleware/rateLimitMiddleware.ts
  backend/revenue-service/src/middleware/validationMiddleware.ts
  backend/revenue-service/src/routes/healthRoutes.ts
  backend/revenue-service/src/routes/reportRoutes.ts
  backend/revenue-service/src/routes/revenueRoutes.ts
  backend/revenue-service/src/services/healthService.ts
  backend/revenue-service/src/services/reportService.ts
  backend/revenue-service/src/services/revenueService.ts
  backend/revenue-service/src/types/index.ts
  backend/revenue-service/src/utils/errorHandler.ts
  backend/revenue-service/src/utils/logger.ts
  backend/revenue-service/src/utils/validation.ts
  backend/revenue-service/tsconfig.json
  backend/revenue-service/tsconfig.prod.json
  frontend/app/dashboard/revenue/page.tsx
  frontend/app/revenue/page.tsx
  frontend/components/icons.tsx
Due: prettier --write, eslint --fix

ลบ Revenue Service รวมถึงไฟล์ที่เกี่ยวข้องทั้งหมด เช่น config, middleware, routes, services, utils และไฟล์การตั้งค่าอื่นๆ เพื่อทำความสะอาดโค้ดและลดความซับซ้อนของโปรเจค
  backend/revenue-service/.cursorrules
  backend/revenue-service/.eslintrc.js
  backend/revenue-service/.gitignore
  backend/revenue-service/.prettierrc
  backend/revenue-service/README.md
  backend/revenue-service/env.example
  backend/revenue-service/eslint.config.js
  backend/revenue-service/package.json
  backend/revenue-service/src/config/index.ts
  backend/revenue-service/src/index.ts
  backend/revenue-service/src/middleware/rateLimitMiddleware.ts
  backend/revenue-service/src/middleware/validationMiddleware.ts
  backend/revenue-service/src/routes/healthRoutes.ts
  backend/revenue-service/src/services/healthService.ts
  backend/revenue-service/src/types/index.ts
  backend/revenue-service/src/utils/errorHandler.ts
  backend/revenue-service/src/utils/logger.ts
  backend/revenue-service/tsconfig.json
  backend/revenue-service/tsconfig.prod.json
Due: prettier --write, eslint --fix

ปรับปรุงฟังก์ชันการลบ batch ในหน้า DBF Import โดยเพิ่ม modal ยืนยันการลบและการจัดการสถานะของ batch ที่จะลบ รวมถึงการปรับปรุง UI โดยเปลี่ยนไอคอนจาก Download เป็น Trash เพื่อให้สอดคล้องกับฟีเจอร์ใหม่
  frontend/app/(app)/revenue/import/dbf/page.tsx
Due: none

ลบ Revenue Service รวมถึงไฟล์ที่เกี่ยวข้องทั้งหมด เช่น config, middleware, routes, services, utils และไฟล์การตั้งค่าอื่นๆ เพื่อทำความสะอาดโค้ดและลดความซับซ้อนของโปรเจค
  backend/revenue-service/.cursorrules
  backend/revenue-service/.eslintrc.js
  backend/revenue-service/.gitignore
  backend/revenue-service/.prettierrc
  backend/revenue-service/eslint.config.js
  backend/revenue-service/package.json
  backend/revenue-service/prisma/schema.prisma
  backend/revenue-service/prisma/seed.ts
  backend/revenue-service/src/config/database.ts
  backend/revenue-service/src/index.ts
  backend/revenue-service/src/routes/exportRoutes.ts
  backend/revenue-service/src/routes/importRoutes.ts
  backend/revenue-service/src/routes/processRoutes.ts
  backend/revenue-service/src/services/authService.ts
  backend/revenue-service/src/services/batchService.ts
  backend/revenue-service/src/services/databaseService.ts
  backend/revenue-service/src/services/exportService.ts
  backend/revenue-service/src/services/importService.ts
  backend/revenue-service/src/services/processService.ts
  backend/revenue-service/src/services/validationService.ts
  backend/revenue-service/src/types/index.ts
  backend/revenue-service/src/utils/logger.ts
  backend/revenue-service/tsconfig.json
Due: prettier --write, eslint --fix

ปรับปรุง Revenue Service โดยเพิ่มฟีเจอร์การจัดการ batch upload และ validation รวมถึงการปรับปรุงการตั้งค่า ESLint และ README.md เพื่อรองรับการพัฒนาอย่างมีประสิทธิภาพมากยิ่งขึ้น
  backend/revenue-service/.eslintignore
  backend/revenue-service/README.md
  backend/revenue-service/eslint.config.js
  backend/revenue-service/package.json
  backend/revenue-service/src/index.ts
  backend/revenue-service/src/middleware/validationMiddleware.ts
  backend/revenue-service/src/routes/revenueRoutes.ts
  backend/revenue-service/src/services/batchService.ts
  backend/revenue-service/src/services/fileProcessingService.ts
  backend/revenue-service/src/services/fileStorageService.ts
  backend/revenue-service/src/services/fileValidationService.ts
  backend/revenue-service/src/services/statisticsService.ts
  backend/revenue-service/src/services/validationService.ts
  backend/revenue-service/src/types/dbf.d.ts
  backend/revenue-service/src/types/index.ts
  backend/revenue-service/src/utils/errorHandler.ts
Due: prettier --write, eslint --fix

เพิ่มการสนับสนุน PM2 ใน package.json และ package-lock.json รวมถึงการเพิ่มสคริปต์ใหม่สำหรับการจัดการ PM2 เพื่อเพิ่มประสิทธิภาพในการพัฒนาและการจัดการแอปพลิเคชัน
  ecosystem.config.js
  package-lock.json
  package.json
Due: prettier --write

ปรับปรุงการตั้งค่า CORS ใน ecosystem.config.js และเพิ่มการจัดการ Preflight (OPTIONS) ใน API Gateway เพื่อรองรับการเชื่อมต่อจากหลาย origin รวมถึงการปรับปรุงการตั้งค่า CORS ใน config ของ revenue-service
  backend/api-gateway/src/config/index.ts
  backend/api-gateway/src/index.ts
  backend/revenue-service/src/config/index.ts
  ecosystem.config.js
Due: prettier --write, eslint --fix

ลบไฟล์ data ที่ไม่จำเป็นออกจาก .gitignore ใน root และ frontend เพื่อทำความสะอาดการจัดการไฟล์
  .gitignore
  frontend/.gitignore
  frontend/app/(app)/revenue/export/ipd/data/conditions.ts
  frontend/app/(app)/revenue/export/ipd/data/index.ts
  frontend/app/(app)/revenue/export/opd/data/conditions.ts
  frontend/app/(app)/revenue/export/opd/data/index.ts
Due: none

ลบไฟล์ที่ไม่จำเป็นออกจาก .gitignore ใน root และ frontend เพื่อทำความสะอาดการจัดการไฟล์
  .gitignore
  frontend/.gitignore
  frontend/public/browserconfig.xml
  frontend/public/favicon.ico
  frontend/public/images/logo.png
  frontend/public/manifest.json
Due: prettier --write

ปรับปรุง middleware.ts เพื่ออนุญาตให้เข้าถึงหน้า login/signin และหน้าแรกได้เสมอ ป้องกันลูป redirect ของ NextAuth
  frontend/middleware.ts
Due: none

ปรับปรุง middleware.ts โดยเพิ่มการกำหนดหน้า signIn เป็น '/login' เพื่อรองรับการใช้งาน NextAuth และปรับปรุงการจัดการการเข้าถึงหน้า login
  frontend/middleware.ts
Due: none

ปรับปรุง middleware.ts โดยเพิ่มการอนุญาตให้เข้าถึงหน้า error เพื่อป้องกันลูป redirect ของ NextAuth
  frontend/middleware.ts
Due: none

ปรับปรุงการจัดการการเข้าสู่ระบบใน NextAuth โดยให้คืนค่า null แทนการ throw error เมื่อข้อมูลไม่ถูกต้อง และเพิ่มการจัดการ redirect สำหรับหน้า error เพื่อกลับไปที่หน้า login พร้อมพารามิเตอร์เดิม
  frontend/app/api/auth/[...nextauth]/route.ts
Due: none

เพิ่มการแสดงผล debug ใน NextAuth เพื่อช่วยในการตรวจสอบการเรียก API และผลลัพธ์การตอบกลับ โดยแสดงข้อมูลปลายทางและสถานะการตอบกลับใน server logs
  frontend/app/api/auth/[...nextauth]/route.ts
Due: none

เพิ่มการอนุญาต Origin ภายนอกสำหรับ Development ใน next.config.js เพื่อแก้คำเตือน Cross origin ของ Next.js โดยใช้เฉพาะระหว่างพัฒนา
  frontend/next.config.js
Due: none

ปรับปรุงการจัดการ debug logs ใน NextAuth โดยปิดการแสดงผลเพื่อหลีกเลี่ยงคำเตือน linter และเพิ่มการจัดการ error message ที่ชัดเจนเมื่อการเข้าสู่ระบบล้มเหลว
  frontend/app/api/auth/[...nextauth]/route.ts
Due: none

Update LDAP attributes in .env, enhance user information display on HomePage, and clean up unused code in LDAP service. Remove unnecessary attributes and improve department retrieval logic.
  frontend/.env
  frontend/app/(app)/home/page.tsx
  frontend/app/(app)/revenue/import/dbf/hooks/useUploadProcess.ts
  frontend/app/api/revenue/batches/[id]/export/route.ts
  frontend/components/layout/Sidebar.tsx
  frontend/lib/ldap.ts
  frontend/types/ldap.ts
Due: none

Enhance authentication by adding LINE provider support and updating environment variables. Refactor error handling in NextAuth and improve session management with provider type tracking.
  frontend/.env
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/lib/env.ts
  frontend/middleware.ts
  frontend/types/next-auth.d.ts
Due: none

Update Sidebar component to change the link for "ขอเปล" from a placeholder to the actual "/porter" route for improved navigation.
  frontend/app/(app)/porter/page.tsx
  frontend/components/layout/Sidebar.tsx
Due: none
